<div class="page">

    <div class="dangerDetailsTable" *ngIf="show" >
        <div class="dangerDetailsHeader">
            <h2 class="dangerHeader"> Procena rizika grupisanih opasnosti i štetnosti na radnom mestu </h2>
            <div>
                <button class="generateExcel" (click)="openModal()" style="margin-right: 15px;">Eksportuj u Excel</button>
                <a id="forward" href="/mere"><i class="fa-sharp fa-solid fa-arrow-right" style="float: right; margin-right: 30px; margin-top: 10px;"></i></a> 
            </div>
            
        </div>
        
        <div id="my-modal" class="modal" style="display: none;">
            <div class="modal-content">
                <div class="flex-div">
                    <div (click)="generateExcel()" class="left-content">
                        <img class="left-image" src="../../../../assets/icons/excel-light-gray.png" alt="excel-light-gray">
                        <h4 class="image-text">Eksportuj</h4>
                    </div>
                    <div (click)="openRadnoMestoModal()" class="right-content">
                        <img class="right-image" src="../../../../assets/icons/excel-add.png" alt="excel-light-gray">
                        <h4 class="image-text">Dodaj ime radnog mesta</h4>
                    </div>
                </div>
                <div class="buttonsDiv">
                    <button class="cancel" (click)="closeModal()">Zatvori</button>
                </div>
            </div>
        </div>
        <div id="my-radno-mesto-modal" class="modal" style="display: none;">
            <div class="modal-content">
              <h2>Unesite naziv radnog mesta</h2>              
              <input id="danger-description" min="0" type="text" [value]="workplace" placeholder="Naziv radnog mesta" />
              <div class="modalButtonsDiv">
                <button class="cancel" (click)="closeRadnoMestoModal()">Zatvori</button>
                <button class="add" (click)="generateExcel2()">Dodaj</button>
              </div>
            </div>
        </div>
        <div class="tableContainer">
            <table id="procenaRizikaTable" mat-table [dataSource]="dataSource">

                <!-- Columns -->
                <ng-container matColumnDef="code">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center"> Šifra opasnosti </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center"> {{ element.dangerName.dangerNumber }} </td>
                </ng-container>

                <ng-container matColumnDef="descriptions">
                    <th mat-header-cell *matHeaderCellDef> Vrsta i opis opasnosti/štetnosti </th>
                    <td mat-cell *matCellDef="let element" > <strong> {{ element.dangerName.description }} </strong>
                        <p *ngFor="let desc of element.descriptions" style="list-style-type:none;">
                            {{ desc }}
                        </p>
                    </td>
                </ng-container>

                <ng-container matColumnDef="probability">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center"> Verovatnoća </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center"> {{ element.probability.code}} - {{element.probability.description}} </td>
                </ng-container>

                <ng-container matColumnDef="effect">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center"> Posledice </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center"> {{ element.effect.code }} - {{element.effect.description}} </td>
                </ng-container>

                <ng-container matColumnDef="frequency">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center"> Učestalost </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center"> {{ element.frequency.code }} - {{element.frequency.description}} </td>
                </ng-container>

                <ng-container matColumnDef="value">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center"> Rizik </th>
                    <td class="riskValue" mat-cell *matCellDef="let element; let i = index" style="text-align: center" #cellRef> {{ element.value }} <span *ngFor="let res of results; let j = index">
                        <span *ngIf="i === j">{{ res }}</span>  
                        </span> 
                    </td>
                
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>

        </div>

    </div>

</div>