.page {
    margin: 0;
    padding: 0;
    width: 100%;
    background: rgb(53,50,55);
    background: linear-gradient(90deg, rgba(53,50,55,1) 0%, rgba(20,19,19,1) 100%);
}

.naslov {
    margin: 0;
    color: white;
    padding-top: 3rem;
}

.tekst {
    color: white;
    padding-top: 2rem;
}

.kinney {
    color: #37AC00;
}

table {
    width: 100%;
    
}

mat-table {
    background: #3b3939;
}

mat-header-cell, mat-cell {
    color: #fff;
}
