<div class="navbar">
    <app-container>
        <span><img class="logo" src="../../../../assets/logo/logov2.png" alt="logo" (click)="goHome()"></span>
        
        <span class="example-spacer"></span>
        <div class="dropdown">
            <button class="dropbtn">MERE SPREČAVANJA RIZIKA
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a (click)="goToMere()"><img src="../../../assets/icons/create.png" height="20px" witdth="20px" >&nbsp; KREIRAJ</a>
                <a (click)="goToMerePregled()"><img src="../../../assets/icons/view.png" height="20px" witdth="20px" >&nbsp; PREGLEDAJ</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn"> PROCENA RIZIKA
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a (click)="goToKreirajProcenu()"><img src="../../../assets/icons/create.png" height="20px" width="20px" >&nbsp; KREIRAJ</a>
                <a (click)="goToPregledajProcenu()"><img src="../../../assets/icons/view.png" height="20px" width="20px" >&nbsp; PREGLEDAJ</a>
            </div>
        </div>
        <div class="logoutDiv">
            <button class="dropbtn" (click)="logOut()">ODJAVA</button>
        </div>
    </app-container>

</div>