<div class="page">
    <div class="wrapper">
        <div class="sidebar">
            <div class="sidebar-header">
                <h3>Lista mogućih opasnosti i štetnosti</h3>
                <div class="searchBarComponent">
                    <app-search [displayed]="dangers" (filter)="filteredDangers = $event"></app-search>
                </div>
            </div>
            <div class="sidebar-item-container" *ngFor="let item of filteredDangers || dangers">
                <li class="dangerNumber">{{item.dangerName.dangerNumber}}</li>  
                <div class="sidebar-item">
                    <li >{{item.dangerName.description}}</li>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <h2 class="header">Utvrđivanje načina i mera za otklanjanje, smanjenje ili sprečavanje rizika</h2>

            <div class="create-container">
                <div class="top-div">
                    <div class="left">
                        <label class="sifra" for="sifra">Odaberite šifru</label>
                        <div class="odaberi-sifru">
                            <select id="sifra-dropdown">
                                <option value="" selected disabled>Izaberite</option>
                                <option id="odabrana-sifra" *ngFor="let item of dangers" [value]="item.dangerName.dangerNumber">{{item.dangerName.dangerNumber}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="right">
                        
                        <label class="rok" for="rok">Odaberite rok za sprovođenje mera</label>
                        <div class="odaberi-rok">
                            <select id="rok-dropdown">
                                <option value="" selected disabled>Izaberite</option>
                                <option id="odabrani-rok" *ngFor="let item of rokovi" [value]="item.description">{{item.description}}</option>  
                            </select>
                        </div>
                    </div>
                </div>
                <div class="unesi-opis">
                    <label class="opis" for="opis">Mere za otklanjanje, smanjenje ili sprečavanje rizika</label>
                    <textarea id="opis" name="opis" rows="5" cols="33" placeholder="Opis..."></textarea>
                </div>
                <div class="bottom-div">
                    <button class="addNew" (click)="addItem()">Dodaj</button>
                </div>
                
            </div>

    </div>
</div>

