.component {
    width: 200px;
    height: 100px;
}

p {
    margin-top: 5px;
}

.headerDiv {
    display: flex;
    justify-content: center;
    height: 45px;
}

.bodyDiv {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
}