<div class="footer">
  <div class="container">
      <div class="row">
        <div class="left">
          <ul>
              <li><span class="footer-text">© {{date}} Momčilo Miković ALL RIGHTS RESERVED </span></li>
          </ul>
        </div>
        
        <div class="right">
          <ul>
            <li><span class="footer-text">© {{date}} Nikola Milanović ALL RIGHTS RESERVED </span></li>
          </ul>
        </div>
      </div>
  </div>   
</div>


<!-- <div class="right">
<span>©2023 Momčilo Miković ALL RIGHTS RESERVED </span> <br>
<span>https://momcilomikovic.netlify.app</span> <br>
<span>©2023 Nikola Milanović ALL RIGHTS RESERVED </span> <br>
<span>https://nikoladev95.github.io/cv/</span>
</div> -->